<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/mystyle.css')}}">
<script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>
</head>
<body>
<div class="row">
  <div class="column1">
    <div class="rowc1">
      <img src="{{url_for('static',filename='image/logo.png')}}" width=“300” height=“300”/>
    </div>
  </div>
  <div class="column2">
    <div class="rowc2a" align="center">
      <h1>TRỊNH CA: Ở TRỌ TRẦN GIAN</h1>
      <h2>CHECK IN</h2>
    </div>